<div class="form">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>
            <div class="form-group col-6">
                <label for="diretor">Diretor</label>
                <input type="text" class="form-control" formControlName="diretor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="anoLancamento">Ano de Lançamento</label>
                <input type="number" class="form-control" formControlName="anoLancamento">
            </div>
            <div class="form-group col-6">
                <label for="genero">Gênero</label>
                <input type="number" class="form-control" formControlName="genero">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="salvarDados()">Cadastrar</button>
    </form>
</div>