<div class="container">
  <nav class="navbar navbar-dark justify-content-between">
    <a class="navbar-brand" routerLink='/'>
      <img src="../../../assets/image/netflix-logo-5.png">
    </a>
    <form class="form-inline">
      <li class="nav-item">
        <a class="nav-link" href="/filmes">Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/series">Séries</a>
      </li>
    </form>
    <button type="submit" class="btn btn-primary my-2 my-sm-0">Entrar</button>
  </nav>
</div>
