.container{
    max-width: 1920px;
    height: 0px;
    padding: 0px 40px;
}

.navbar-brand img{
    height: 2rem;
}

.form-inline a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-weight: bold;    
}

.form-inline a:hover {
    color: rgb(255, 77, 77);
    transition: color 0.3s;
}

.btn{
    padding: 5px 20px;
}

.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: red;
  border-color: red;
}

.btn.btn-primary:hover {
    background-color: rgb(214, 0, 0);
    border-color: rgb(214, 0, 0);
}