<div class="background">
    <div class="container">
        <div class="parte1">
            <h1>Filmes, séries e muito mais.
            <br>Sem limites.</h1>
            <h2>Assista onde quiser. Cancele quando quiser.</h2>
            <h3>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h3>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="input" placeholder="  Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <h2>Vamos lá!</h2>
              </button>
            </div>
        </div>
    </div>
    <div class="color-overlay"></div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="texto col">
      <h1>Aproveite na TV.</h1>
      <h2>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h2>
    </div>
    <div class="tv col">
      <img src="../../../assets/image/tv.png">
      <video class="videogif" autoplay playsinline muted loop>
        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="eleven col">
      <img src="../../../assets/image/mobile-0819.jpg">
    </div>
    <div class="texto2 col">
      <h1>Baixe séries para assistir offline.</h1>
      <h2>Salve seus títulos favoritos e sempre tenha algo para assistir.</h2>
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="texto3 col">
      <h1>Assista quando quiser.</h1>
      <h2>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</h2>
    </div>
    <div class="tv2 col">
      <img src="../../../assets/image/device.png">
      <video class="videogif2" autoplay playsinline muted loop>
        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="eleven col">
      <img src="../../../assets/image/kids.png">
    </div>
    <div class="texto2 col">
      <h1>Crie perfis para crianças.</h1>
      <h2>Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.</h2>
    </div>
  </div>
</div>
<div class="aproveite2">
  <div class="parte3">
    <h1>Perguntas frequentes</h1>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h2 class="col-12">O que é a Netflix?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>A Netflix é um serviço de transmissão online que oferece uma ampla variedade de séries, filmes e documentários premiados em milhares de aparelhos conectados à internet.
          <br><br>
          Você pode assistir a quantos filmes e séries quiser, quando e onde quiser, sem comerciais – tudo por um preço mensal bem acessível. Aqui você sempre encontra novidades. A cada semana, adicionamos novas séries e filmes.
          </h2>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h2 class="col-12">Quanto custa a Netflix?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>Assista à Netflix no seu celular, tablet, Smart TV, notebook ou aparelho de streaming por uma taxa mensal única. Os planos variam de R$25,90 a R$55,90 por mês. Sem contrato nem taxas extras.
          </h2>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h2 class="col-12">Onde posso assistir?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>Assista onde quiser, quando quiser. Faça login com sua conta Netflix em netflix.com para começar a assistir no computador ou em qualquer aparelho conectado à Internet compatível com o aplicativo Netflix, como Smart TVs, smartphones, tablets, aparelhos de streaming e videogames.
          <br><br>
          Você também pode baixar a sua série favorita com o aplicativo Netflix para iOS, Android ou Windows 10. Use downloads para levar a Netflix para onde quiser sem precisar de conexão com a Internet. Leve a Netflix com você para qualquer lugar.
          </h2>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          <h2 class="col-12">Como faço para cancelar?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>A Netflix é flexível. Não há contratos nem compromissos. Você pode cancelar a sua conta na internet com apenas dois cliques. Não há taxa de cancelamento – você pode começar ou encerrar a sua assinatura a qualquer momento.
          </h2>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <h2 class="col-12">O que eu posso assistir na Netflix?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>A Netflix tem um grande catálogo de filmes, documentários, séries, originais Netflix premiados e muito mais. Assista o quanto quiser, quando quiser.
          </h2>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          <h2 class="col-12">A Netflix é adequada para crianças?</h2>
          <i class="bi bi-chevron-down d-flex align-items-center justify-content-end"></i>
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>A experiência infantil da Netflix faz parte da sua assinatura para que as crianças se divirtam em seu próprio espaço com séries e filmes familiares sob a supervisão dos responsáveis.
          <br><br>
          O recurso de controle parental, incluso nos perfis para crianças e protegido por PIN, permite restringir a classificação etária do conteúdo que as crianças podem ver e bloquear títulos específicos que você não quer que elas assistam.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="parte4">
    <h3>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h3>
  </div>
  <div class="input-group mb-3">
      <input type="text" class="input" placeholder="  Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <h2>Vamos lá!</h2>
        </button>
      </div>
  </div>
</div>

<div class="final">
  <div class="footer1 row">
    <p class="rodape">Dúvidas? Ligue 0800 591 8942</p>
  </div>
  <div class="footer2 row">
    <div class="rodape align-items-start">
      <ul class="coluna col-4">
        <a class="nav-link" href="#">Perguntas frequentes</a>
        <a class="nav-link" href="#">Relações com investidores</a>
        <a class="nav-link" href="#">Formas de assistir</a>
        <a class="nav-link" href="#">Informações corporativas</a>
        <a class="nav-link" href="#">Só na Netflix</a>
      </ul>
      <ul class="coluna col-3">
        <a class="nav-link" href="#">Centro de ajuda</a>
        <a class="nav-link" href="#">Carreiras</a>
        <a class="nav-link" href="#">Termos de uso</a>
        <a class="nav-link" href="#">Entre em contato</a>
      </ul>
      <ul class="coluna col-4">
        <a class="nav-link" href="#">Conta</a>
        <a class="nav-link" href="#">Resgatar cartão pré-pago</a>
        <a class="nav-link" href="#">Privacidade</a>
        <a class="nav-link" href="#">Teste de velocidade</a>
      </ul>
      <ul class="coluna col-4">
        <a class="nav-link" href="#">Media Center</a>
        <a class="nav-link" href="#">Comprar cartão pré-pago</a>
        <a class="nav-link" href="#">Preferências de cookies</a>
        <a class="nav-link" href="#">Avisos legais</a>
      </ul>
    </div>
  </div>
</div>