<div class="background">
    <div class="container">
        <div class="parte1">
            <h1>Filmes, séries e muito mais.
            <br>Sem limites.</h1>
            <h2>Assista onde quiser. Cancele quando quiser.</h2>
            <h3>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h3>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="input" placeholder="  Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <h2>Vamos lá!</h2>
              </button>
            </div>
        </div>
    </div>
    <div class="color-overlay"></div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="texto col">
      <h1>Aproveite na TV.</h1>
      <h2>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h2>
    </div>
    <div class="tv col">
      <img src="../../../assets/image/tv.png">
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="eleven col">
      <img src="../../../assets/image/mobile-0819.jpg">
    </div>
    <div class="texto2 col">
      <h1>Baixe séries para assistir offline.</h1>
      <h2>Salve seus títulos favoritos e sempre tenha algo para assistir.</h2>
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="texto3 col">
      <h1>Assista quando quiser.</h1>
      <h2>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</h2>
    </div>
    <div class="tv2 col">
      <img src="../../../assets/image/device.png">
    </div>
  </div>
</div>
<div class="aproveite row align-items-center">
  <div class="container2">
    <div class="eleven col">
      <img src="../../../assets/image/kids.png">
    </div>
    <div class="texto2 col">
      <h1>Crie perfis para crianças.</h1>
      <h2>Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.</h2>
    </div>
  </div>
</div>